<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center ">
            <h1>Flask API!</h1>
        </div>
    </div>
    <div class="container" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:rgb(6, 187, 187);">
        <ul>
            <li>http://127.0.0.1:5000/createGroup/group</li>
            <li>http://127.0.0.1:5000/addRule/group&rule&field&operator&int:value</li>
            <li>http://127.0.0.1:5000/getRules/</li>
            <li>http://127.0.0.1:5000/deleteRule/rule</li>
            <li>http://127.0.0.1:5000/updateRule/group&rule&field&operator&int:value</li>
            <li>http://127.0.0.1:5000/apply/noOfdays</li>
        </ul>
        <ul>
            <h4>Operator can be between Below Example</h4>
            <li>EQ - Equal To</li>
            <li>NEQ - Not Equal To</li>
            <li>GT - Greater Than</li>
            <li>GTE - Greater Than Equal</li>
            <li>LT - Less Than</li>
            <li>LTE - Less Than Equal</li>
        </ul>
    </div>
</body>

</html>